@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.page {
    background: #f1f3f8;
    background-size: cover;
    min-height: 100vh;
    pointer-events: visible;

}

.page.active {
    filter: blur(20px);
    pointer-events: none;
}

.container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .title {
    margin: 5%;
    text-align: center;
    font-family: 'Josefin Sans', cursive;
}

.form {
    padding: 2em 3em 2em 3em;
    background: #f9f9f9;
}

.form>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

input[type="text"] {
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 11px 11px 22px #e6e6e6,
        inset -11px -11px 22px #ffffff;
    font-family: 'Montserrat', sans-serif;
}

datalist option {
    font-family: 'Poppins', sans-serif;
}

button {
    padding: .7em 1em .7em 1em;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(25, 48, 70);
    background: coral;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px .2px #1c1d1e;
    transition: .3s;
}

button:hover {
    background: rgb(199, 113, 82);
}



.dropbutton {
    background: #f1f3f8;
    border: .2px solid #1c1d1e;
    padding: .6em;
    padding-bottom: .8em;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}

.dropdownmenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.dropdownmenu-content>div {
    margin: 5%;
    padding: .2em;
    transition: .3s;
}

.dropdownmenu-content>div:hover {
    background: coral;
}

.show {
    display: block;
}

input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-family: 'Montserrat', sans-serif;
    color: #1c1d1e;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}


/* Items */
.members .show,
.members .show-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 50px;
    width: 150px;
    background: #ffffff;
    cursor: pointer;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    border-radius: 8px;
}

.members .show-2 {
    display: none;
}

.members .show #number {
    padding-left: 10px;
    color: #1c1d1e;
    font-size: 1.3rem;
}

.members {
    position: absolute;
    top: 15%;
    left: 80%;
}

.members #list {
    list-style: none;
    opacity: 0;
    pointer-events: none;
}

.members #list li {
    margin-top: 6%;
    padding: 10px 30px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.members #list li i {
    position: absolute;
    left: 78%;
    color: #1c1d1e;
}

#list.active {
    transition: all .7s;
    opacity: 1;
    pointer-events: visible;
}

/* Link Generation */
.linkTitle {
    font-family: 'Josefin Sans', sans-serif;
}

.contain {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.contain.active {
    opacity: 1;
    pointer-events: visible;
}

.contain .form {
    flex-direction: column;
}

.contain .form>div input {
    border-bottom: none;

    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.contain .form>h2 {
    text-align: center;
    margin-bottom: 15%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contain .form>div {
    margin-bottom: 10%;
}

/* Credits */
.credits {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.credits h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
}

.credits a {
    text-decoration: none;
}

@media (max-width: 862px) {
    .members .show {
        display: none;
        top: 85%;
        left: 30%;
    }

    .members .show-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .members #list {
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type=checkbox]+label {
        font-size: .8rem;
    }

    input[type="text"] {
        font-size: .7rem;
    }

    .form>div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12%;
    }

    .dropbutton {
        font-size: .8rem;
    }

    .credits h2 {
        font-size: 1rem;
    }

}


@media (max-width: 577px) {

    .container .title {
        font-size: .9rem;
    }

    .members {
        top: 10%;
        left: 88%;
    }

    .members .show-2 {
        width: 30px;
        height: 30px;
    }

    .members #list {
        top: 45%;
    }


    input[type=checkbox]+label {
        font-size: .6rem;
    }

    input[type="text"] {
        font-size: .65rem;
    }

    .form>div {
        margin-bottom: 15%;
    }

    .dropbutton {
        font-size: .8rem;
    }

    .credits h2 {
        font-size: .8rem;

    }

}